<div class="jumbotron ">
  <h1>Timeseries Statistics</h1>
  <p>Questo tool permette di analizzare dati statistici, in particolare <b class="text-success">serie storiche</b></p>
  <p>Filtrando i dati, analizzando il trend, rimuovendo eventuali rumori ed effettuando una previsione per ottenere un prospetto dei dati futuri</p>

  <p>Questa applicazione web si appoggia alle <b class="text-warning">Google API</b> per mostrare i dati tramite <b class="text-info">line chart</b>.</p>
</div>

<h3>Ecco i dati sperimentali che verranno utilizzati</h3>

<div id="lineChart"></div>
